__pycache__/*
*/__pycache__
core/__pycache__/
app/routers/__pycache__
app/__pycache__
core/__pycache__
__pycache__
db.sqlite3
*/migrations/
# Only for Development only
**/migrations/**
!**/migrations
!**/migrations/__init__.py
users/migrations/*
db.sqlite3
